h3 {
    display: inline-block;
    color: #001B5D;
    margin: 8px;
    border-bottom: solid;
    border-top: solid;
    border-color: #001B5D;
    
}

.hidden{
    display:none;
}

label {
    color: #001B5D;
}

.jumbotron {
    background-color: white;
    text-align: center;
    border-color: #001B5D;
    border-style: solid;
    color: #001B5D;
    font-size: 5rem;
    font-weight: bold;
}
